@import "../../../style/sass/main"

p.subtitle
	font-size: 80%
	text-align: right
	margin: 10px 0 0 0
	color: $main_color

canvas#scene
	display: block
	margin: 80px auto 0
	border: 1px $main_color solid